body {
    background-color: #353535;
}

.box_transparent {
  background-color: #E03D3D;
}

.box_type1 {
  border-radius: 10px;
  background-color: #0e3fa9;
  margin: 5px;
  padding: 5px;
  box-shadow: 2px 2px 2px #0e3fa9;
}

.box_type2 {
  display: block;
  margin: 2.5px;
  font-family: Impact, Charcoal, sans-serif;
  border-radius: 5px;
  background-color: #E5E5E5;
  padding: 5px;
}

.box_type3 {
  display: block;
  float: left;
  margin: 2.5px;
  font-family: Impact, Charcoal, sans-serif;
  border-radius: 5px;
  padding: 5px;
  color: #ffab03;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  background-color: #f9f9f9;
}

.examples {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 80%;
    height: 100%;
}

button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #f9f9f9;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 70px;
  }

@media (max-width: 900px) {
  .row {
    display: block;
  }
}